<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {% set title = "" %}
    {%- if page.title is defined -%}
      {% set title = page.title %}
    {%- endif -%}
    {%- if section.title is defined -%}
      {% set title = section.title %}
    {%- endif -%}
    {{ title }}
    {%- if not title is containing("Peter Lyons") -%}
     | Peter Lyons
    {%- endif -%}
  </title>
  <meta name="description" content="RTD Bus Schedule Louisville to Denver">
  <meta name="author" content="Peter Lyons">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block style %}
  <link rel="stylesheet" href="/screen.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata%7CJulius+Sans+One">
  {% endblock style %}
  <link rel="preload" href="/main.js" as="script">
  <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="{{ config.extra.blog_title }}">
  <link href="/favicon.png" type="image/png" rel="icon">
  <link rel="author" type="text/plain" href="/humans.txt">
  <style>
    span.from {
    color: green;
    }
    span.to {
    color: orange;
    }
    div.timetable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }

    .hide {
    display: none;
    }

    span.filter.active {
      background-color: green;
    }


    </style>

    <script>
    function toggle(src, selector) {
      document.querySelectorAll(selector).forEach(n=>n.classList.toggle("hide"));
      src.classList.toggle('active')
    }
    </script>
</head>

<body>
  <button class="navMenuButton">&equiv;</button>
  {%- include "navigation.html" -%}
  <div class="content">
    <header>
      <h1 role="banner"><a href="/">Peter Lyons</a></h1>
    </header>
    {% block body %}{% endblock body %}
    <section class="filters">
        <span class="filter active" onclick="toggle(this, '.east');">eastbound</span>
        <span class="filter active" onclick="toggle(this, '.west')">westbound</span>
        <span class="filter active" onclick="toggle(this, '.weekday')">Weekday</span>
        <span class="filter active" onclick="toggle(this, '.saturday')">Saturday</span>
        <span class="filter active" onclick="toggle(this, '.sunday')">Sunday</span>
      </section>
    {% set routes = load_data(path="content/bus/routes.json") %}
    {% for k, route in routes %}
      <section class="route {{route.direction}} {{route.day}}">
      <h1>{{ route.title}}</h1>
      <div class="timetable">
      {% for time in route.departTimes %}
        {% set from = "Lou" %}
        {% set to = "Den" %}
        {% if route.direction == "west" %}
          {% set from = "Den"%}
          {% set to = "Lou" %}
        {% endif %}
        <span class="time depart">{{time}}</span>
        <span class="from">{{from}}</span>
        <span class="time arrive">{{route.arriveTimes[loop.index0]}}</span>
        <span class="to">{{to}}</span>
      {% endfor %}
      </div>
      </section>
    {% endfor %}
    <footer class="navigationHorizontal" role="contentinfo">
      {%- include "navigation.html" -%}
    </footer>
    <footer class="license" role="contentinfo">
      <p>This work is licensed under a<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">&nbsp;Creative Commons Attribution-ShareAlike 3.0 Unported License.</a></p>
    </footer>
  </div>
  {% block scripts %}
  <script type="module" src="/main.js" async=true></script>
  {% endblock scripts %}
</body>
</html>
