{% extends "layout.html" %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{page.path}}/bus.css">
{% endblock style %}
{% block body %}
{{ page.content | safe }}
<section class="filters">
  <span class="filter direction east active" onclick="filterDirection('east');">eastbound</span>
  <span class="filter direction west" onclick="filterDirection('west');">westbound</span>
  <span class="filter day weekday active" onclick="filterDay('weekday');">Weekday</span>
  <span class="filter day saturday" onclick="filterDay('saturday');">Saturday</span>
  <span class="filter day sunday" onclick="filterDay('sunday');">Sunday</span>
</section>
{% set routes = load_data(path="content/bus/routes.json") %}
{% for k, timetable in routes %}
{% set from = "Louisville" %}
{% set to = "Denver" %}
{% if timetable.direction == "west" %}
{% set from = "Denver"%}
{% set to = "Louisville" %}
{% endif %}
<section class="route {{timetable.direction}} {{timetable.day}} {% if timetable.day != 'weekday' or timetable.direction != 'east' %}hide{% endif %}">
  <div class="timetable">
    <span class="th">Route</span>
    <span class="th">Depart {{from}}</span>
    <span class="th">Arrive {{to}}</span>
    {% for trip in timetable.trips %}
    <span class="route-name">{{trip.route}}</span>
    <span class="time depart">{{trip.depart}}</span>
    <span class="time arrive">{{trip.arrive}}</span>
    {% endfor %}
  </div>
</section>
{% endfor %}
{% endblock body %}
{% block scripts %}
{{ super() }}
<script src="{{page.path}}bus.js" async=true></script>
{% endblock scripts %}
