{% extends "layout.html" %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{page.path}}/bus.css">
{% endblock style %}
{% block body %}
{{ page.content | safe }}
<section class="filters">
  <span class="filter direction east active" onclick="filterDirection('east');">eastbound</span>
  <span class="filter direction west" onclick="filterDirection('west');">westbound</span>
  <span class="filter day weekday active" onclick="filterDay('weekday');">Weekday</span>
  <span class="filter day saturday" onclick="filterDay('saturday');">Saturday</span>
  <span class="filter day sunday" onclick="filterDay('sunday');">Sunday</span>
</section>
{% set routes = load_data(path="content/bus/routes.json") %}
{% for k, route in routes %}
<section class="route {{route.direction}} {{route.day}} {% if route.day != 'weekday' or route.direction != 'east' %}hide{% endif %}">
  {% set from = "Louisville" %}
  {% set to = "Denver" %}
  {% if route.direction == "west" %}
  {% set from = "Denver"%}
  {% set to = "Louisville" %}
  {% endif %}
  <h1>{{route.title}} to {{to}} {{route.day}}</h1>
  <div class="timetable">
    {% for time in route.departTimes %}
    <span class="time depart">{{time}}</span>
    <span class="from">{{from}}</span>
    <span class="time arrive">{{route.arriveTimes[loop.index0]}}</span>
    <span class="to">{{to}}</span>
    {% endfor %}
  </div>
</section>
{% endfor %}
{% endblock body %}
{% block scripts %}
{{ super() }}
<script src="{{page.path}}bus.js" async=true></script>
{% endblock scripts %}
