div.timetable {
  display: grid;
span.from {
  color: blue;
}

span.to {
  color: orange;
}

  grid-template-columns: repeat(4, 1fr);
}

.route h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0.2em;
}

.hide {
  display: none;
}

.filter {
  padding: 0 2px;
}

.filter.active {
  background-color: lightgreen;
  border: 3px solid lightgreen;
  border-radius: 20px;
}
